<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kevin.mapper.UserMapper">


    <!-- 1. 用户注册-->
    <insert id="insert" parameterType="com.kevin.pojo.User" useGeneratedKeys="true" keyProperty="id">
        insert into user (number, password, name, role,status)
        values (#{number}, #{password}, #{name}, #{role}, #{status})
    </insert>

    <!-- 2. 根据学号查询 -->
    <select id="findByNumber" resultType="com.kevin.pojo.User">
        select * from user where number = #{number}
    </select>

    <!-- 3. 根据ID查询 -->
    <select id="findById" resultType= "com.kevin.pojo.User">
        select * from user where id = #{id}
    </select>

    <!-- 4.修改个人信息) -->
    <update id="updateProfile" parameterType="com.kevin.pojo.User">
        update user
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>

            <if test="password != null and password != ''">
                password = #{password},
            </if>

            <if test="image != null and image != ''">
                image = #{image},
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 5.用户注销 -->
    <delete id="deleteById">
        delete from user where id = #{id}
    </delete>

    <!-- 6.封禁用户 -->
    <update id="updateStatus">
        update user
        set status = #{status}
        where number = #{number}
    </update>
</mapper>